#ignore wandb logs
*.json
/CPS/TorchSemiSeg/exp.city/city8.res50v3+.CPS+CutMix/wandb/

#ignore tensorboard logs
/CPS/TorchSemiSeg/exp.city/city8.res50v3+.CPS+CutMix/log/tb/
/GLPDepth/logs/
/NewCRFs/models/
/NewCRFs/newcrfs/pretrained/
/PixelFormer/pixelformer/pretrained/

#ignore pycache
*.pyc

#ignore images
*.png
*.jpg
*.jpeg

#ignore images
*.pt
*.pth
*.ckpt

#ignore apex
/CPS/TorchSemiSeg/furnace/apex/

#ignore wandb
/AdaBins/AdaBins/wandb/

#ignore parameter checkpoints (note the pretrained weights are uploaded still via the pretrained folder)
/AdaBins/AdaBins/checkpoints/

#PyTorch build files
*.so


